In [17]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

[]

In [18]:
import bq_helper

In [19]:
# create a helper object for our bigquery dataset
hacker_news = bq_helper.BigQueryHelper(active_project= "bigquery-public-data", dataset_name = "hacker_news")

In [20]:
# print a list of all the tables in the hacker_news dataset
hacker_news.list_tables()

['comments', 'full', 'full_201510', 'stories']

In [21]:
# print information on all the columns in the "full" table
# in the hacker_news dataset
hacker_news.table_schema("full")

           name                        ...                                                                description
0            by                        ...                                         The username of the item's author.
1         score                        ...                                                                Story score
2          time                        ...                                                                  Unix time
3     timestamp                        ...                                                Timestamp for the unix time
4         title                        ...                                                                Story title
5          type                        ...                          Type of details (comment, comment_ranking, pol...
6           url                        ...                                                                  Story url
7          text                        ...                                                      Story or comment text
8        parent                        ...                                                          Parent comment ID
9       deleted                        ...                                                                Is deleted?
10         dead                        ...                                                                   Is dead?
11  descendants                        ...                                        Number of story or poll descendants
12           id                        ...                                                      The item's unique id.
13      ranking                        ...                                                            Comment ranking

[14 rows x 4 columns]

In [22]:
# preview the first couple lines of the "full" table
hacker_news.head("full")

            by score        time   ...   descendants        id ranking
0  user5994461  None  1489944124   ...          None  13908369    None
1    angersock  None  1456372120   ...          None  11172250    None
2        md2be  None  1516292547   ...          None  16178282    None
3       radley  None  1214947811   ...          None    233562    None
4      pmontra  None  1480694180   ...          None  13089613    None

[5 rows x 14 columns]

In [23]:
# preview the first ten entries in the by column of the full table
hacker_news.head("full", selected_columns="by", num_rows=10)

                by
0      user5994461
1        angersock
2            md2be
3           radley
4          pmontra
5             dmix
6   Already__Taken
7            danso
8            meric
9  offyourfacelook

In [24]:
# this query looks in the full table in the hacker_news
# dataset, then gets the score column from every row where 
# the type column has "job" in it.
query = """SELECT score 
            FROM `bigquery-public-data.hacker_news.full`
            WHERE type = "job" """
# check how big this query will be
hacker_news.estimate_query_size(query)

0.16643008776009083

In [25]:
# only run this query if it's less than 100 MB
hacker_news.query_to_pandas_safe(query, max_gb_scanned=0.1)

Query cancelled; estimated size of 0.16643008776009083 exceeds limit of 0.1 GB

In [26]:
# check out the scores of job postings (if the 
# query is smaller than 1 gig)
job_post_scores = hacker_news.query_to_pandas_safe(query)

In [27]:
# average score for job posts
job_post_scores.score.mean()

2.0499620781190746

In [28]:
job_post_scores.score.isna().sum()

540

In [29]:
# save our dataframe as a .csv 
job_post_scores.to_csv("job_post_scores.csv")